---
import "../styles/globals.css";
const { 
    title = "TBA", 
    speaker = "", 
    startTime = "TBA", 
    endTime = "TBA", 
    location = "The Student Centre",
    description = "" } = Astro.props;
--- 
<main>
    <div class="cardBorderWrap">
        <div class="card">
            <h2 class="gradientUnderline">[{startTime} - {endTime}] &nbsp; {title}</h2> 
            <h3>{speaker} @ {location}</h3>
            <p>{description}</p>
        </div>
    </div>
</main>

<style>
    main {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    /*Z index is to stop the menu dropdown on mobile from appearing under the card */
    .card {
        background-color: white;
        padding: 2rem;
        border-radius: 3px;
        z-index: -1;
    }

    .cardBorderWrap {
        position: relative;
        background: linear-gradient(to right, var(--blue-gradient), var(--green-gradient));
        padding: 0.2rem;
        border-radius: 5px;
        z-index: -2;
    }

    /*Gradient for the header underline*/
    .gradientUnderline {
        text-decoration: none;
        position: relative;
        display: inline-block;
    }

    .gradientUnderline::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 0.2rem;
        border-radius: 5px;
        background: linear-gradient(to right, var(--blue-gradient), var(--green-gradient));
    }
  
    @media screen and (max-width: 600px) {
      main {
        max-width: 80%;
      }
    }
</style>